annotated-types==0.7.0
asgiref==3.9.1
attrs==25.3.0
certifi==2019.11.28
charset-normalizer==3.4.3
click==8.3.0
cloudinary==1.44.1
dj-database-url==2.1.0
django==5.0
django-bulk-sync==3.3.0
django-cachalot==2.8.0
django-cache-machine==1.2.0
django-cloudinary-storage==0.3.0
django-cors-headers==4.3.1
python-decouple==3.8
django-filter==25.1
django-fsm==3.0.0
django-guardian==3.2.0
django-lifecycle==1.2.4
django-model-utils==5.0.0
django-ratelimit==4.1.0
django-redis==6.0.0
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.0
drf-extensions==0.8.0
drf-spectacular==0.27.2
drf-writable-nested==0.7.2
gunicorn==21.2.0
idna==2.8
importlib-metadata==8.7.0
inflection==0.5.1
joblib==1.5.2
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
nexus-rpc==1.1.0
nltk==3.9.1
opentelemetry-api==1.37.0
opentelemetry-instrumentation==0.58b0
opentelemetry-instrumentation-django==0.58b0
opentelemetry-instrumentation-wsgi==0.58b0
opentelemetry-semantic-conventions==0.58b0
opentelemetry-util-http==0.58b0
packaging==25.0
pillow==11.3.0
protobuf==6.32.1
psycopg2-binary==2.9.10
pydantic==2.11.9
pydantic-core==2.33.2
pyjwt==2.10.1
python-decouple==3.8
pytz==2025.2
pyyaml==6.0.2
redis==6.4.0
referencing==0.36.2
regex==2025.9.18
requests==2.32.3
rpds-py==0.27.1
sentry-sdk==2.39.0
setuptools==80.9.0
six==1.17.0
sqlparse==0.5.3
sslcommerz-python-api==1.0.1
temporalio==1.18.0
textblob==0.19.0
tqdm==4.67.1
types-protobuf==6.32.1.20250918
typing-extensions==4.15.0
typing-inspection==0.4.1
tzdata==2025.2
uritemplate==4.2.0
urllib3==2.3.0
whitenoise==6.6.0
wrapt==1.11.2
zipp==3.23.0
